---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { Six } from "@/components/six";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Poc Six</h1>
    <h2>État dans classe (Instance partagée)</h2>
    <p>
      Utilisation d'une classe partagée entre les composants.<br />
      Le composant orchestrateur distribue le manager.
    </p>
    <Six client:load />
  </div>
</PrimaryLayout>
