---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { Four } from "@/components/four";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <p>Poc Four - Filtrage avec Context API</p>
    <Four client:load />
  </div>
</PrimaryLayout>
