---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { Four } from "@/components/four";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Poc Four</h1>
    <p>
      Utilisation de props partagés entre les composants.<br />
      Le composant orchestrateur distribue les props aux composants enfants.
    </p>
    <Four client:load />
  </div>
</PrimaryLayout>
