---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { Three } from "@/components/three";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <p>Poc Three</p>
    <Three client:load />
  </div>
</PrimaryLayout>
