---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { Five } from "@/components/five";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <p>Poc Five - Filtrage avec Composable/Hook</p>
    <Five client:load />
  </div>
</PrimaryLayout>
