---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { One } from "@/components/one";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Poc One</h1>
    <h2>État dans parent (Props + callbacks)</h2>
    <p>
      Utilisation de props partagés entre les composants.<br />
      Le composant orchestrateur distribue les props aux composants enfants.
    </p>
    <One client:load />
  </div>
</PrimaryLayout>
