---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { Two } from "@/components/two";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <p>Poc Two - Filtrage avec Derived Store</p>
    <Two client:load />
  </div>
</PrimaryLayout>
