---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { Three } from "@/components/three";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Poc Three</h1>
    <p>
      Utilisation d'un Store partagé entre les composants.<br />
      Le composant orchestrateur ne fait rien d'autre que référencer les composants.
    </p>
    <Three client:load />
  </div>
</PrimaryLayout>
