---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { App } from "@/components/tuto/advanced/binding-resize";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Binding resize</h1>
    <App client:load />
  </div>
</PrimaryLayout>
