---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
---

<PrimaryLayout>
  <div class="place-self-center">
    <div class="flex flex-col mx-auto mb-20 p-4 max-w-2xl">
      <h1>Bienvenue sur notre site Astro!</h1>
      <ul class="space-y-2 list-disc list-inside">
        <li>
          <a href="/poc" class="text-blue-500 hover:underline"
            >Proof of concept</a
          >
        </li>
      </ul>
    </div>
  </div>
</PrimaryLayout>
