---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { App } from "@/components/tuto/basic/bind";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Utilisation de binding</h1>
    <App client:load />
  </div>
</PrimaryLayout>
