---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { App } from "@/components/tuto/basic/event-dom";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Manipulation des événements du DOM</h1>
    <App client:load />
  </div>
</PrimaryLayout>
