---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { App } from "@/components/tuto/special/svelte-window-binding";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1 class="text-white">Svelte Window binding</h1>
    <App client:load />
  </div>
</PrimaryLayout>
