---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { App } from "@/components/tuto/special/share-export";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Share export</h1>
    <App client:load />
  </div>
</PrimaryLayout>
