---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { App } from "@/components/tuto/special/svelte-body";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1>Svelte Body</h1>
    <App client:load />
  </div>
</PrimaryLayout>
