---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <main
    id="main-content"
    class="grid px-4 sm:px-8 pt-2 sm:pt-4 pb-4 min-h-svh overflow-x-auto"
  >
    <slot />
  </main>
</BaseLayout>
