---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";

const basic = [
  { title: "Array", link: "/tuto/basic/tuto-array" },
  { title: "Effect", link: "/tuto/basic/tuto-effect" },
  { title: "Await", link: "/tuto/basic/tuto-await" },
  { title: "Event DOM", link: "/tuto/basic/tuto-event-dom" },
  { title: "Event Component", link: "/tuto/basic/tuto-event-component" },
  { title: "Bubbling", link: "/tuto/basic/tuto-bubbling" },
  { title: "Bind", link: "/tuto/basic/tuto-bind" },
  { title: "Select single", link: "/tuto/basic/tuto-select-single" },
  { title: "Select multiple", link: "/tuto/basic/tuto-select-multi" },
  { title: "Text area", link: "/tuto/basic/tuto-text-area" },
  { title: "Class CSS", link: "/tuto/basic/tuto-class" },
  { title: "Trap focus (tab)", link: "/tuto/basic/tuto-focus-trap" },
  { title: "Tooltip", link: "/tuto/basic/tuto-tooltip" },
  { title: "Transition Svelte", link: "/tuto/basic/tuto-transition-builtin" },
  { title: "Transition CSS", link: "/tuto/basic/tuto-transition-css" },
  { title: "Transition JS", link: "/tuto/basic/tuto-transition-js" },
  { title: "Transition Events", link: "/tuto/basic/tuto-transition-events" },
  { title: "Transition Global", link: "/tuto/basic/tuto-transition-global" },
  {
    title: "Transition KeyBlocks",
    link: "/tuto/basic/tuto-transition-keyblocks",
  },
];
const advanced = [
  { title: "Raw state", link: "/tuto/advanced/tuto-raw-state" },
  { title: "Reactive classes", link: "/tuto/advanced/tuto-reactive-classes" },
  { title: "SvelteDate", link: "/tuto/advanced/tuto-svelte-date" },
  { title: "Store", link: "/tuto/advanced/tuto-store" },
];
---

<PrimaryLayout>
  <div
    class="place-self-center grid grid-cols-2 grid-rows-[auto,1fr] mx-auto -mt-4 p-4 max-w-2xl"
  >
    <h1 class="col-span-2">Liste des tutoriels</h1>
    <div class="col-start-1 row-start-2">
      <h2>Basique</h2>
      <ul class="space-y-2 list-disc list-inside">
        {
          basic.map(({ title, link }) => (
            <li>
              <a href={link} class="text-blue-500 hover:underline">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="col-start-2 row-start-2">
      <h2>Avancé</h2>
      <ul class="space-y-2 list-disc list-inside">
        {
          advanced.map(({ title, link }) => (
            <li>
              <a href={link} class="text-purple-500 hover:underline">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</PrimaryLayout>
