---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";

const tuto = [
  { title: "Array", link: "/tuto/tuto-array" },
  { title: "Effect", link: "/tuto/tuto-effect" },
  { title: "Await", link: "/tuto/tuto-await" },
];
---

<PrimaryLayout>
  <div class="place-self-center">
    <div class="flex flex-col mx-auto mb-20 p-4 max-w-2xl">
      <h1>Liste des tutoriels</h1>
      <ul class="space-y-2 list-disc list-inside">
        {
          tuto.map(({ title, link }) => (
            <li>
              <a href={link} class="text-blue-500 hover:underline">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</PrimaryLayout>
