---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";
import { Parent } from "@/components/tuto/bubbling";
---

<PrimaryLayout>
  <div class="flex flex-col gap-4 m-12">
    <h1 class="font-bold text-3xl">
      Tutoriel : Bubbling des événements en Svelte
    </h1>
    <Parent client:load />
  </div>
</PrimaryLayout>
